@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
}

#logo {
    color: rgb(34, 194, 34);
    margin: 20px 0;
    text-align: center;
}

#logo i {
    margin-right: 20px;
}

/* Buttons */

#add-btn {
    background-color: rgb(220, 140, 20);
    color: #fff;
    width: 100%;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #fff;
    color: rgb(20, 220, 20);
    border: 1px solid rgb(20, 220, 20);
}

/* Exercise & Calender Sections */

#exercise-container {
    display: grid;
    grid-template-columns: 20% 70%;
    height: 50vh;
    column-gap: 20px;
    margin: 50px 20px;
    justify-content: center;
}

.exercise-list {
    background-color: rgb(180, 180, 180);
}

.calender {
    background-color: grey;
}

.exercise {
    position: relative;
    width: 50%;
    background-color: orange;
    padding: 10px;
    border-radius: px;
    box-shadow: #000;
    font-size: 18px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
}


.submit-container {
    text-align: center;
}

/* BMI Section */

.bmi-container {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.calculator-section {
    background-color: darkgreen;
    text-align: center;
    margin: 20px 50px;
    width: 80%;
}

.result-section {
    background-color: darkred;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}