@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
}

#logo {
    color: rgb(34, 194, 34);
    margin: 20px 0;
    text-align: center;
}

#logo i {
    margin-right: 20px;
}

/* Exercise Section */

#exercise-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
    margin: 50px 30px;
}

.exercise-list {
    background-color: rgb(122, 122, 122);
    margin-right: 20px;
    padding: 20px;
}

.exercise-table {
    width: 95%;
    margin: 10px;
    border-spacing: 10px;
}

.exercise-table th {
    background-color: darkturquoise;
}

.exercise-table td {
    background-color: forestgreen;
    color: #fff;
}

.exercise-table table, th, td {
    padding: 10px;
    border: 2px solid #fff;
    margin: 15px;
}

.calender {
    background-color: darkslateblue;
    margin-left: 20px;
}


.submit-container {
    text-align: center;
}

.submit-btn {
    background-color: crimson;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/* BMI Section */

.bmi-container {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.calculator-section {
    background-color: darkgreen;
    text-align: center;
    margin: 20px 50px;
    width: 80%;
}

.result-section {
    background-color: darkred;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}