@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #003049;
    font-family: "Poppins", sans-serif;
}

#logo {
    color: #e25402;
    margin: 20px 0;
    text-align: center;
}

#logo i {
    margin-right: 20px;
}

/* Buttons */

.exercise-btn {
    background-color: #55a630;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
}

.exercise-btn:hover{
    background-color: #fff;
    color: rgb(15, 129, 21);
}

.delete-btn {
    background-color: crimson;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    float: right;
    padding: 2px 4px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}


#bmi-submit-btn {
    width: 40%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
    background-color: rgb(253, 137, 4);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

#bmi-submit-btn:hover {
    background-color: #fff;
    color: rgb(253, 137, 4);
}

.email-submit-btn {
    width: 50%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
    background-color: rgb(253, 137, 4);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.email-submit-btn:hover {
    background-color: #fff;
    color: rgb(253, 137, 4);
}

/* ------ Exercise Sections ------ */

#exercise-container {
    display: grid;
    grid-template-columns: 25% 70%;
    max-height: 60vh;
    column-gap: 40px;
    margin: 50px 20px;
    justify-content: center;
    overflow: hidden;
}

.exercise-list {
    background-color: #f77f00;
    padding: 20px;
    border-radius: 10px;
}

.exercise-list h2 {
    color: #fff;
}

#exercise-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.exercise-list-area{
    color: #fff;
}

#exercise-group {
    list-style-type: none;
}

.exercise-items {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #8338ec;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 8px;
    margin: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}

/* ------ Calender Sections ------ */

.calendar-container {
    background-color:#f77f00;
    border-radius: 10px;
}

.calendar-container h2 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.week-days {
    display: flex;
    width: 100%;
    height: 60vh;
    padding-top: 10px;
}

.day {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 40px;
}
.day:nth-child(even) {
    background-color: #f7b166;
}

.day h4 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #003049;
    color: #fff;
    padding: 10px 0;
}

/* Email Section */

.email-container {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
}

.email-form {
    text-align: center;
    padding: 20px;
    background-color: #a2d2ff;
    border-radius: 10px;
}

.email-form label {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0;
}

.email-form input[type=email] {
    width: 50%;
    padding: 5px;
    margin: 20px;
    border: 1px solid #e25402;
}

/* BMI Section */

.bmi-container {
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.bmi-section {
    background-color: rgb(117, 211, 117);
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    padding: 20px 30px;
}

.bmi-section form {
    text-align: center;
    margin: 0 auto;
}

.bmi-section h3 {
    text-align: center;
    margin-bottom: 20px;
}

.bmi-section form label, .bmi-section form input[type=submit]{
    display: block;
    margin: 8px 0;
}

.bmi-section input[type=number] {
    width: 40%;
    padding: 10px;
    margin: 2px 0 12px 0;
}

.result-section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}

/* Media Queries */

/* @media screen and (max-width: 900px) {
    #exercise-container {
        display: grid;
        grid-template-columns: 100%;
    }

    .exercise-list {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .calendar-container {
        margin-top: 50px;
    }

    .calendar-container h2 {
        text-align: center;
    }

    .email-container {
        display: grid;
        grid-template-columns: 50%;
    }

    .email-form label {
        display: block;
        margin-bottom: 0;
    }

    .bmi-container {
        display: grid;
        grid-template-columns: 70%;
    }

} */

@media screen and (max-width: 1200px) {

    #exercise-container {
        display: grid;
        grid-template-columns: 100%;
        min-height: 78vh;
    }

    .exercise-list {
        width:40%;
        margin: 0 auto;
        text-align: center;
    }

    .calendar-container {
        margin: 50px;
    }

    .calendar-container h2 {
        text-align: center;
    }
    
    .week-days {
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    
    .day {
        position: relative;
        height: auto;
        background-color: #e25402;
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }

    .email-container {
        display: grid;
        grid-template-columns: 70%;
    }

    .bmi-container {
        display: grid;
        grid-template-columns: 80%;
    }
}

@media screen and (max-width: 750px) {
    .exercise-list {
        width: 60%;
    }

    .calendar-container {
        margin: 50px 20px;
    }

    .email-container {
        display: grid;
        grid-template-columns: 75%;
    }

}
    

@media screen and (max-width: 450px) {

    .exercise-list {
        width: 75%;
    }

    .email-container {
        display: grid;
        grid-template-columns: 80%;
    }

    .calendar-container {
        margin: 50px 0;
    }

    .email-container {
        display: grid;
        grid-template-columns: 95%;
    }

    .bmi-container {
        display: grid;
        grid-template-columns: 90%;
    }

    .bmi-section input[type=number] {
        width: 70%;
    }

    #bmi-submit-btn {
        width: 80%;
    }
}