@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(233, 230, 230);
}

#logo {
    color: rgb(34, 194, 34);
    margin: 20px 0;
    text-align: center;
}

#logo i {
    margin-right: 20px;
}

/* Button */