@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
}

#logo {
    color: rgb(34, 194, 34);
    margin: 20px 0;
    text-align: center;
}

#logo i {
    margin-right: 20px;
}

/* Buttons */

.exercise-btn {
    background-color: rgb(15, 129, 21);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.exercise-btn:hover{
    background-color: #fff;
    color: rgb(15, 129, 21);
}

.delete-btn {
    background-color: crimson;
    color: #fff;
    float: right;
    padding: 2px 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* ------ Exercise Sections ------ */

#exercise-container {
    display: grid;
    grid-template-columns: 25% 70%;
    height: 50vh;
    column-gap: 40px;
    margin: 50px 20px;
    justify-content: center;
}

.exercise-list {
    background-color: rgb(180, 180, 180);
    padding: 20px;
}

#exercise-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#exercise-group {
    list-style-type: none;
}

.exercise-items {
    display: block;
    width: 40%;
    background-color: rgb(75, 75, 77);
    color: #fff;
    padding: 10px 5px;
    margin: 10px 0;
}

/* ------ Calender Sections ------ */

.calendar-container {
    background-color:darkgrey;
}

.calendar-container h2 {
    margin: 10px 0 15px 10px;
}

.week-days {
    display: flex;
    width: 100%;
    height: 50vh;
}

.day {
    width: 25%;
    text-align: center;
    position: relative;
    padding: 50px;
}
.day:nth-child(even) {
    background-color: rgb(112, 126, 165);
}

.day h4 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 97, 10);
    color: #fff;
    padding: 10px 0;
}

.submit-container {
    text-align: center;
}

/* BMI Section */

.bmi-container {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.calculator-section {
    background-color: darkgreen;
    text-align: center;
    margin: 20px 50px;
    width: 80%;
}

.result-section {
    background-color: darkred;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}